*{
    margin: 0;
    padding: 0;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    text-transform: none;
}

#content{
    display:flex;
    justify-content: left;
}

/* left-content */
.left-content{
    background-color: #140729;
    width: 100%;
    max-width: 20%;
    height: 100vh;
}

.perfil{
    margin-top: 10vh;
    color:white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.edit-profle .name-profile{
    margin-right: 170px;
    width: 100%;
}

.edit-profle{
    margin-left:1rem;
}

.perfil .image-profile a img{
    height: 18vh;
    width: 8vw;
    border-radius: 10px;
    background-size: cover;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    float: left;
    margin: 2vh 1rem;
}   

.left-menu ul li{
    color:gray;
    margin: 1rem 0;
    font-size: 1.20rem;
}
.left-menu ul li > i{
    margin-right: 1rem;
}
.left-menu ul li:hover{
    color:white;
}

/* right-content */
.right-content{
    width: 100%;
    padding: 1rem 5rem;
    float: left;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

/* profileViews */
.profileViews{
    display:flex;
    justify-content: space-between;
}